{% extends 'base.html' %}
{% load static %}


{% block title %}Posts{% endblock title %}


{% block content %}
<style>
    h5 {
        color: rgb(0, 0, 0);
    }
</style>

<h1>Posts</h1>  
{% for post in post_list %}
    <div class="card rounded-0 shadow">
        <div class="card-body">
            <h5 class="card-title mb-3">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
            <p class="card-text">{{ post.body|truncatechars:500 }}</p>
            <a href="{% url 'detail' post.id %}" class="card-link">Continue Reading</a>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock content %}