{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
<br>
<div class="top container-fluid d-flex flex-row">
    <div class="row col-12">
        <div class="left col-6 pt-5">
            <p id="titleLeft">blog<span>book</span></p>
            <p id="topLtDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quam obcaecati voluptatem iste, a cum, neque sit dolorum rerum, blanditiis quibusdam doloribus. Ipsum consequuntur mollitia quisquam vero magni nam iusto!</p>
        </div>
        <div class="right col-6 pt-1">
            <p></p>
        </div>
    </div>
</div>
<div class="middle container-fluid d-flex flex-row">
    <div class="row col-12">
        <div class="middleLeft col-6 pt-5">
            <p id="titleMiddle">Start by choosing a theme</p>
        </div>
        <div class="middleRight col-6" id="middleRtDesc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptatem quas culpa, corrupti nobis maiores optio veniam harum praesentium. Quia, debitis veniam. Porro atque distinctio voluptatum ipsam repudiandae corrupti eius.</p>
        </div>
    </div>
</div>
<div class="pictureRow container-fluid d-flex flex-row">
    <div class="row col-12 mx-auto">
        <div class="picLeft col-4">

        </div>
        <div class="picMiddle col-4">

        </div>
        <div class="picRight col-4">

        </div>
    </div>
</div>

{% endblock content %}